/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */


h2, h4 {
    letter-spacing: 0.25em;
    text-transform: uppercase;
    font-weight: 600;

}

p {
    line-height: 1.6em;
}


/*
 * -- Layout Styles --
 */
.l-content {
    margin: 0 auto;
}

.l-box {
    padding: 0.5em 2em;
}


/*
 * -- PRICING TABLE WRAPPER --
 * This element wraps up all the pricing table elements
 */
 .pricing-tables,
 .information {
    max-width: 980px;
    margin: 0 auto;
 }
.pricing-tables {
    margin-bottom: 3.125em;
    text-align: center;
}

/*
 * -- PRICING TABLE  --
 * Every pricing table has the .pricing-table class
 */
.pricing-table {
    border: 1px solid #ddd;
    margin: 0 0.5em 2em;
    padding: 0 0 3em;
}


/*
 * -- PRICING TABLE PRICE --
 * Styles for the price and the corresponding <span>per month</span>
 */
.pricing-table-price {
    font-size: 6em;
    margin: 0.2em 0 0;
    font-weight: 100;
}
    .pricing-table-price span {
        display: block;
        text-transform: uppercase;
        font-size: 0.2em;
        padding-bottom: 2em;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.5);
        *color: #fff;
    }



/*
 * -- PRICING TABLE LIST --
 * Each pricing table has a <ul> which is denoted by the .pricing-table-list class
 */
.pricing-table-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}


/*
 * -- PRICING TABLE LIST ELEMENTS --
 * Styles for the individual list elements within each pricing table
 */
.pricing-table-list li {
    padding: 0.8em 0;
    background: #f7f7f7;
    border-bottom: 1px solid #e7e7e7;
}


/*
 * -- PRICING TABLE BUTTON --
 * Styles for the "Choose" button at the bottom of a pricing table.
 * This inherits from Pure Button.
 */
.button-choose {
    border: 1px solid #ccc;
    background: #fff;
    color: #333;
    border-radius: 2em;
    font-weight: bold;
    position: relative;
    bottom: -1.5em;
}

.information-head {
    color: black;
    font-weight: 500;
}

.footer {
    background: #111;
    color: #888;
    text-align: center;
}
    .footer a {
        color: #ddd;
    }



/*
 * -- TABLET MEDIA QUERIES --
 * On tablets, we want to slightly adjust the size of the banner
 * text and add some vertical space between the various pricing tables
 */
@media(min-width: 767px) {

    .banner-head {
        font-size: 4em;
    }
    .pricing-table {
        margin-bottom: 0;
    }

}

/*
 * -- PHONE MEDIA QUERIES --
 * On phones, we want to reduce the height and font-size of the banner further
 */
@media (min-width: 480px) {
    .banner {
        height: 400px;
    }
    .banner-head {
        font-size: 3em;
    }
}


#navigation-container {
    width: 100%;
  }
  
  .navigation-bar {
    background-color: transparent;
    width: 100%;
    text-align: right;
  }
  
  .navigation-bar img {
    float: left;
  }
  
  .navigation-bar ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
  }
  
  .navigation-bar li {
    list-style-type: none;
    padding: 0px;
    height: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline;
  }
  
  .navigation-bar li a {
    color: black;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    line-height: 70px;
    padding: 5px 15px;
  }

  h1 {
    font-size: 3em;
    color: black;
    text-transform: lowercase;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    margin-top: 25%;
    animation: transitionin 3s;
  }
  
  @keyframes transitionin {
    from {
      opacity: 0;
      transform: rotateX(-10deg);
    }
  
    to {
      opacity: 1;
      transform: rotateX(0);
    }
  }
  
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: black;
    text-align: center;
    font-family: "Raleway", sans-serif;
    opacity: 0.5;
  }
  
  h3 {
    color: black;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    margin-top: 30%;
    top: 30%;
    animation: transitionin 4s;
  }
  
  h4 {
    color: #aeabab
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    animation: transitionin 4s;
  }
  
  .container {
    top: 200px;
  }
  
  h1 b {
    font-weight: 300;
    font-size: 0.5em;
  }
  