* {
  margin: 0px;
  padding: 0px;
}

body{
  height: 200vh;
  width: 100%;
  position: relative;
  background: #d38312;
  background: -webkit-linear-gradient(
    to left,
    #a83279,
    #d38312
  ); 
  background: linear-gradient(
    to left,
    #a83279,
    #d38312
  );
}


h1 {
  font-size: 5em;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 25%;
}

.title {
  text-align: center;

}

span {
  border-right: 0.05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

h5 {
  font-family: "Raleway", sans-serif;
}

.jumbotron {
  text-align: center;
}

.container-2 {
  width: 100%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: orange;
  color: white;
  text-align: center;
}

.content {
  position: absolute;
  z-index: 2;
}
 
ul#menu li {

  display:inline;
  position: absolute;
  z-index: 4;
  padding-left: 15px;
}
  

.col-sm-12 {
  width: 100%;
  padding-top: 20%;
}


.col-lg-4 {
  padding-top: 30%;
}