
h1 {
  font-size: 5em;
  color: #ffffff;
  text-transform: uppercase;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  position: absolute;
  text-align: center;
  top: 25%;
  left: 25%;
  right: 25%;
  z-index: 12;
}

span {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

h5 {
  font-family: font-family: 'Raleway', sans-serif;
}

