* {
  margin: 0px;
  padding: 0px;
}

body {
  position: relative;
  background: linear-gradient(346deg, #a83279, #d38312, #ce86d9, #d276ad);
  background-size: 800% 800%;

  -webkit-animation: background 10s ease infinite;
  -moz-animation: background 10s ease infinite;
  animation: background 10s ease infinite;
}
@-moz-keyframes background {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes background {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  font-size: 3em;
  color: #ffffff;
  text-transform: lowercase;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  margin-top: 25%;
  
}

@keyframes transitionin{
  from {
     opacity: 0;
     transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

.title {
  text-align: center;
  
}

.content {
  margin-top: 30%;
}
h5 {
  font-family: "Raleway", sans-serif;
}

.jumbotron {
  text-align: center;
}

.container-2 {
  width: 100%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: orange;
  color: white;
  text-align: center;
  font-family: "Raleway", sans-serif;
  opacity: 0.5;
}

.content {
  position: absolute;
  z-index: 2;
}

ul#menu li {
  display: inline;
  position: absolute;
  z-index: 4;
  padding-left: 15px;
}

.col-sm-12 {
  width: 100%;
  padding-top: 20%;
}

.col-lg-4 {
  padding-top: 30%;
}

.logo {
  float: left;
}
/* ~~ Top Navigation Bar ~~ */

#navigation-container {
  width: 100%;
}

.navigation-bar {
  background-color: transparent;
  width: 100%;
  text-align: right;
}

.navigation-bar img {
  float: left;
}

.navigation-bar ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

.navigation-bar li {
  list-style-type: none;
  padding: 0px;
  height: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
  display: inline;
}

.navigation-bar li a {
  color: white;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  line-height: 70px;
  padding: 5px 15px;
}

.resume {
  display: flex;
  margin-left: 20%;
}

