html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }
  
  /* .nav {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    background: black;
  }
  
  .nav li {
    list-style: none;
    display: inline-block;
  }
  
  .nav .link {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 11px;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    margin: 0 10px;
  } */
  
  .blocks {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
  }
  
  .blocks:nth-child(1) {
    background-image: green;
  }
  .blocks:nth-child(2) {
    background: blue;
  }
  .blocks:nth-child(3) {
    background: pink;
  }
  .blocks:nth-child(4) {
    background: yellow;
  }
  .blocks:nth-child(5) {
    background: black;
  }
  .blocks:nth-child(6) {
    background: indianred;
  }

 

  /* Top Navigation */
  #navigation-container {
    width: 100%;
    z-index: 12;
  }
  
  .navigation-bar {
    background-color: transparent;
    width: 100%;
    text-align: right;
  }
  
  .navigation-bar img {
    float: left;
  }
  
  .navigation-bar ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
  }
  
  .navigation-bar li {
    list-style-type: none;
    padding: 0px;
    height: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline;
  }
  
  .navigation-bar li a {
    color: black;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    line-height: 70px;
    padding: 5px 15px;
  }

  .container {
      height: 200px;
  }

  h1 {
    font-size: 2.5em;
    color: black;
    text-transform: lowercase;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    margin-top: 5%;
    animation: transitionin 3s;
  }
  
  @keyframes transitionin {
    from {
      opacity: 0;
      transform: rotateX(-10deg);
    }
  
    to {
      opacity: 1;
      transform: rotateX(0);
    }
  }
  
  