* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}
.wrapper {
  width: 1170px;
  margin: 0 auto;
}
header {
  height: 50px;
  background: #000000;
  width: 100%;
  z-index: 12;
  position: fixed;
}

.logo {
  width: 30%;
  float: left;
  line-height: 50px;
}

.logo a {
  text-decoration: none;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  color: #ffffff;
  letter-spacing: 5px;

}

nav{
  float: right;
  line-height: 50px;
}

nav a{
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  letter-spacing: 3px;
  font-size: 10px;
  margin: 0 10px;
  color: #fff;
}

.banner-area{
  width: 100%;
  height: 500px; 
  position: fixed;
  top: 10px;
  background-image: url(assets/AP116-LendingConsumer-Skip-A-Pay.pdf\ alias\ 2.jpg);
  background-size: cover;
  background-position: 50px 50px;
}

  .banner-area h2{
    padding-top: 8%;
    font-size: 70px;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    text-transform: uppercase; 
    color: #ffffff;
  }

  .content-area {
    width: 100%;
    position: relative;
    top: 450px;
    background: #dddddd;
    height: 1500px;
  }
