body {
  background-color: #cd5c5c;
  height: 100%;
  font-family: "tradegothiclt-bold", sans-serif;
}

h1 {
  padding-top: 150px;
  text-align: center;
  font-size: 5em;
  color: #f5dede;
  text-transform: uppercase;
}

span {
  border-right: 0.05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

div {
  display: block;
}

.contact {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.contact-box {
  background-color: #dc8c8c;
  position: absolute;
  vertical-align: baseline;
  border-radius: 10px;
  height: 50px;
  margin-top: 0.5em;
  margin-left: 400px;
  margin-bottom: 0.5em;
  padding: 2em;
  width: 300px;
}

.linkedin {
  position: relative;
}

.github {
  position: relative;
  float: left;
}

.gmail{
    position: relative;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #b85252;
  color: #f5dede;
  font-family: "tradegothiclt-bold", sans-serif;
  text-align: center;
  text-transform: uppercase;
}
